.user__sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 425px) {
    .user__sign-in {
        margin-top: 7px;
    }
}