.profile__box {
  margin-left: 0;
  padding: 0;
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .profile__box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
