.footer {
   margin: 66px auto 0;
   width: 880px;
   padding-bottom: 60px;
}

@media screen and (max-width: 940px) {
   .footer {
      width: 100%;
      padding-left: 19px;
      box-sizing: border-box;
   }
}

@media screen and (max-width: 425px) {
   .footer {
      margin: 48px auto 0;
   }
}
