.profile__container {
  width: 336px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 767px) {
  .profile__container  {
    max-width: 282px;
  }
}
