.popup__exit{
  position: absolute;
  width: 32px;
  height: 32px;
  right: -40px;
  top: -40px;
  background-image: url(../../../images/close_button.svg);
  background-color:rgb(0, 0, 0, 0);
  background-size: contain;
  border: none;
  outline: none;
  padding: 0;
}
.popup__exit:hover{
  opacity: 0.6;
  cursor: pointer;
}
@media screen and (max-width:767px){
  .popup__exit{
      right: 0;
      top: -39px;
      background-image: url(../../../images/Close_Icon_mob.svg);
      width: 20px;
      height: 20px;
  }
}
