.profile__edit-button {
  min-width: 24px;
  height: 24px;
  background-image: url(../../../images/Edit_Button.svg);
  background-color:rgb(0, 0, 0, 0);
  background-size: contain;
  border: none;
  outline: none;
  background-repeat: no-repeat;
  margin-left: 18px;
}

.profile__edit-button:hover{
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    min-width: 18px;
    height: 18px;
    position: relative;
    margin-left: 15.25px;
  }
}
