.error-message {
  opacity: 1;
  padding: 5px;
  color: #ff0000;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  text-align: left;
}

.error-message:last-of-type {
  margin-bottom: 0;
}

.popup__input .error-message {
  margin-bottom: 5px;
}
